.iconContainer {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
}

.textToSpeechIcon {
  width: 100%;
  height: 100%;
  background-color: var(--icon);
  mask: url(/images/volume_up_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.spinner {
  border: 4px solid var(--spinner-track);
  border-top: 4px solid var(--spinner);
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
