.dotsOptions {
  width: 2ch;
  height: 3ch;
  margin: auto;
}

.dots {
  width: 2ch;
  height: 3ch;
  cursor: pointer;
  background-color: var(--icon);
  mask: url(more_vert_FILL0_wght400_GRAD0_opsz24.svg); /*https://fontawesome.com/license*/
  mask-repeat: no-repeat;
}

.dots:hover {
  background-color: var(--icon-hover);
}

.dotsOptionMenu {
  width: 150px;
  position: absolute;
  right: 17px;
  top: 0px;
  text-align: left;
  -moz-box-shadow: -1px 0 5px 0 var(--shadow-dropdown);
  -webkit-box-shadow: -1px 0 5px 0 var(--shadow-dropdown);
  box-shadow: 1px 0 5px 0 var(--shadow-dropdown);
  border-radius: 9px;
  padding: 3px;
  background-color: var(--bg-surface);
  z-index: 998;
}

.optionLabel {
  background-color: var(--bg-surface);
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  color: var(--text-primary);
}

.optionLabel:hover {
  background-color: var(--bg-hover);
}
